<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>security-tut1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <security-role>
  	<role-name>Member</role-name>
  </security-role>
  <security-role>
  	<role-name>Admin</role-name>
  </security-role>
  
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/login.html</form-login-page>
  		<form-error-page>/login-error.html</form-error-page>
  	</form-login-config>
  </login-config>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Admin Resources</web-resource-name>
  		<url-pattern>/admin</url-pattern>
  		<url-pattern>/admin/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>Admin</role-name>
  	</auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>
  
  <security-constraint>
  	
  	<web-resource-collection>
  		<web-resource-name>Members</web-resource-name>
  		<url-pattern>/member</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>Member</role-name>
  		<role-name>Admin</role-name>
  	</auth-constraint>
  	
  	<user-data-constraint>
  		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
  	</user-data-constraint>
  
  </security-constraint>
  
  <error-page>
  	<error-code>403</error-code>
  	<location>/403.html</location>
  </error-page>
  
  
</web-app>